.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

.debt-clearing{
	margin: 50px;
	padding: 50px;
	border: 3px solid #61dafb;
}
.new-pass{
	margin: 50px;
	padding: 50px;
	border: 3px solid #61dafb;
}
.new-pass:hover {
  background-color:#61dafb;
  color:#0a2b5e
}
.debt-clearing:hover {
  background-color: #61dafb;
  color:#282c34
}
