.clear-debt {
  text-align: center;
  background-color: #282c34;
  padding:20px;
}
h1{
  font-size: 40px;
  color: #61dafb;
  padding-bottom: 40px;
  margin-bottom:50px;
  border-bottom: 3px solid #61dafb;
}
h2{
  font-size: 30px;
  color: #61dafb;
padding-bottom: 40px;
margin-bottom:50px;
border-bottom: 3px solid #61dafb;
}
label{
  font-size: 15px;
  color: #61dafb;
}
input{
  color:white;
text-align:center;
}
form {
  margin-left: auto;
  margin-right: auto;
  color: #61dafb;
  width:600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

Table{
color:#61dafb;
font-size:15px;
}
.data{
color:#61dafb;
font-size:20px;
text-align:center;
}
button{
font-size: 40px;
background-color: #282c34;
color: #61dafb;
margin:20px;
padding:20px;
border:2px solid #61dafb; 
}
button:hover{
background-color: #61dafb;
color:#282c34;
}

.error{
font-size:20px;
background-color: #f0c0bb;
color: red;
padding-left: 30px;
padding-right:30px;
}
.success{
font-size:30px;
background-color: #dbf0bb;
color: green;
}


